body, html {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
canvas div {
  background-color: transparent;
}

#scene {
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
